<br>
<br>
<div class="container list">
  <div class="container">
    <h1>List</h1>
  </div>
  <div class="container">
    <h2><%= @list.name %></h2>
  </div>
  <div class="container">
    <ul class="list">
      <div class="container cards">
        <% @list.bookmarks.each do |bookmark| %>
          <li>
            <div class="card-trip">
              <%= image_tag bookmark.movie.poster_url %>
              <div class="card-trip-infos">
                <div class="accordion" id="accordionExample-<%= bookmark.id%>">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button movie-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-<%= bookmark.id %>" aria-expanded="false" aria-controls="collapseOne-<%=%>">
                        More
                      </button>
                    </h2>
                  <div id="collapseOne-<%= bookmark.id %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample-<%= bookmark.id%>">
                    <div class="accordion-body">
                      <h2><%= bookmark.movie.title %> <i class="fa-solid fa-circle", style="font-size: 5px; color: grey"></i>
                          <%= bookmark.movie.rating.round(2) %> <i class="fa-solid fa-star", style="color: gold"></i> </h2>
                          <p><%= bookmark.movie.overview %></p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="comment">
                  <h6><i class="fa-solid fa-quote-left"> </i><%= bookmark.comment %></h6>
                </div>
                <%= link_to bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do%>
                  <i class="fa-regular fa-trash-can"></i>
                  <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>
<div class="container add">
  <%= link_to new_list_bookmark_path(@list) do %>
  <i class="fa-solid fa-plus"></i>
     Add a Movie
     <% end %>
</div>
