<br>
<br>
<div class="container list">
  <div class="container">
    <h1>List</h1>
  </div>
  <div class="container">
    <h2><%= @list.name %></h2>
  </div>
  <div class="container">
    <ul>
      <div class="container cards">
        <% @list.bookmarks.each do |bookmark| %>
          <li>
            <div class="card-trip">
              <%= image_tag bookmark.movie.poster_url %>
              <div class="card-trip-infos">
                <div class="info">
                  <h2><%= bookmark.movie.title %></h2>
                  <p><%= bookmark.comment %></p>
                  <%= link_to bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do%>
                    <i class="fa-regular fa-trash-can"></i>
                    <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </div>
    </ul>
  </div>
</div>
<div class="container add">
  <%= link_to new_list_bookmark_path(@list) do %>
  <i class="fa-solid fa-plus"></i>
     Add a Bookmark
     <% end %>
</div>
