<br>
<br>
<div class="container new">
  <div class="container title">
    <h1>Bookmark's Creation</h1>
  </div>
  <div class="container form">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, collection: Movie.all %>
      <%= f.submit 'Create a Bookmark', class:'addlink' %>
    <% end %>
  </div>
</div>
<div class="back">
  <%= link_to 'Back', list_path(@list), class: 'backlink'%>
</div>
